<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv9PsnoxYAGBAaR7GhKuSanefxWKalHi4</string>
	<key>GCM_SENDER_ID</key>
	<string>373360012571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sindustries.Sonus</string>
	<key>PROJECT_ID</key>
	<string>sonus-77acf</string>
	<key>STORAGE_BUCKET</key>
	<string>sonus-77acf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373360012571:ios:b3421ca09d8cfe098537be</string>
</dict>
</plist>